doctype 5
html
	head
		title= "Tope's js Blog"
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		
	body
		block head
			script(src="app.js")

		block content
				block content
					.navbar.navbar-fixed-top
						.navbar-inner
							.container
								a.brand(href='#') Tope's JS Blog
